@model PostalovTeam.Models.Product

<h2>@Model.Name</h2>

<div>
    <h4>Product</h4>
    <hr />
    @if (Model.File != null)
    {
        var base64 = Convert.ToBase64String(Model.File.Content);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img src="@imgSrc" alt="No Image" height="200" width="200">
    }
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Products", "Store", new { categoryId = Model.CategoryId }, null)
</p>
