@model PostalovTeam.Models.File

<h1>PostArt</h1>
<div class="jumbotron postArtBackground">
    <p>
        Инфо за нас – мениджърите:
        <br />
        Всяка дисциплина, свързана с изкуството, е с този бранд, за да може да функционира като отделно перо на залата. Развитието в дългосрочен план е свързано с участие по фестивали, конкурси и детски надигравания. Организирането на концерти и сценични изяви на всяко едно заедно и по отделно, както и развитието на още дейности – модерни танци, балет, Художествени изкуства-рисуване, приложни занаяти и тн. Наситеността от творческ изяви трябва да е добре балансирана, за да поддържа интереса на вече потребителите на всички тези услуги, но и да набираме нови последователи и участници. Като основна кауза е българското в неговите различни проявления и сценични измерения. Когато успеем емоционално да ги ангажираме ще се превърнем в арт-течение, което ще наподобява големи и идеално структурирани брандове.
        Няма да пускаме всички занимания още в началото!!! Ще го направим поетапно, като до края на училищния период планирам да сме задвижили всички, за да можем да запознаем аудиторията и на есен да стартираме с пълни групи и занимания по график. На първо време стартираме:
        <br />
        1.	@Html.ActionLink("Танцов театър", "DanceTheater", "PostArt")<br />
        2.	@Html.ActionLink("Театрална школа", "TheaterSchool", "PostArt")<br />
        3.	@Html.ActionLink("Детска танцова школа", "KidsDanceSchool", "PostArt")<br />
        4.	@Html.ActionLink("Ръкотворничка", "Handmade", "PostArt")<br />
        5.  @Html.ActionLink("Клуб за български народни танци", "BulgarianDanceClub", "PostArt")<br />
        6.  @Html.ActionLink("Детска вокална школа", "KidsVocalSchool", "PostArt")
    </p>
</div>

@Html.Partial("_AddSchedule", Model);