<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postalov Team</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    @Scripts.Render("~/jquery-3.3.1.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Начало", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Магазин", "Index", "Store")</li>
                    <li>@Html.ActionLink("За мен", "Index", "About")</li>
                    <li>@Html.ActionLink("PostArt", "Index", "PostArt")</li>
                    <li>@Html.ActionLink("Fat-Fight", "Index", "FatFight")</li>
                    <li>@Html.ActionLink("Kangoo Jump", "Index", "KangooJump")</li>
                    <li>@Html.ActionLink("Галерия", "Index", "Gallery")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Количка", "ShoppingCart", "Store" , new { actionId = 0 }, null)</li>
                        <li id="openDietForm"><a href="#">Хранителен Режим</a></li>
                        <li>@Html.ActionLink("Изход", "LogOut", "Auth")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Логин", "LogIn", "Auth")</li>
                        <li>@Html.ActionLink("Регистрация", "Register", "Auth")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="form-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
                <h1>Хранителен Режим</h1>

                <b>Изберете пол</b><br />
                <input type="radio" name="gender" value="Мъж" />Мъж
                <input type="radio" name="gender" value="Жена" />Жена<br />

                <b>Как определяте своята физическа активност? </b><br />
                <input type="radio" name="activity" value="Почти никаква" />Почти никаква
                <input type="radio" name="activity" value="Тренирам понякога" />Тренирам понякога
                <input type="radio" name="activity" value="Тренирам всеки ден" />Тренирам всеки ден<br />

                <b>Кое от изброение неща е вярно за вас? </b><br />
                <input type="radio" name="prob" value="Не мога без сладко" />Не мога без сладко
                <input type="radio" name="prob" value="Консумирам много сол" />Консумирам много сол
                <input type="radio" name="prob" value="Обичам газирани напитки" />Обичам газирани напитки<br />

                <b>Колко пъти се храните на ден </b><br />
                <input type="radio" name="eat" value="1 път" />1 път
                <input type="radio" name="eat" value="3 пъти" />3 пъти
                <input type="radio" name="eat" value="Различно" />Различно<br />

                <b>Има ли храни които не консумирате?</b><br />
                <input type="text" placeholder="Избройте ги тук" /><br />

                <b>Мерки :</b>
                Години : <input type="number" /><br />
                Височина : <input type="number" /><br />
                Килограми : <input type="number" /><br />
                Желани Килограми : <input type="number" /><br />

                <button type="button" id="submitDietForm" class="btn">Състави Режим</button>
                <button type="button" id="closeDietForm" class="btn cancel">Затвори</button>
            </form>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Postalov Team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/dietForm.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
